{
  "//": "Bot auth token",
  "botToken": "",

  "//": "Discord ID of person to watch and populate corpus with",
  "watchID": "",

  "//": "If true will ignore any messages watched person edits",
  "ignoreEdits": false,

  "//": "If true wont replace watched edited messages and will just add another entry for new content",
  "retainEdits": false,

  "//": "List of guild ID's to ignore in scrape.js",
  "ignoreGuilds": [],

  "//": "List of channel ID's to ignore in scrape.js",
  "ignoreChannels": []
}
